<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeWebApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="logo-details">
            <h3><a asp-controller="Home" asp-action="Index">Sonya</a></h3>
            <p><a asp-area="Identity" asp-page="/Account/Login">КУЛИНАРНИ РЕЦЕПТИ</a></p>
        </div>

        <ul>
            @if (this.User.IsInRole("Admin"))
            {
                <li>
                    <a asp-controller="Recipe" asp-action="Add">
                        <div class="icon-wrapper">
                            <img src="~/images/addicon.png" alt="">
                        </div>
                        <p>ДОБАВИ РЕЦЕПТА</p>
                    </a>

                </li>
            }
            

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="maindish">
                    <div class="icon-wrapper">
                        <img src="~/images/dish.png" alt="">
                    </div>
                    <p>ОСОВНИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="salads">
                    <div class="icon-wrapper">
                        <img src="~/images/salad1.png" alt="">
                    </div>
                    <p>САЛАТИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="desert">
                    <div class="icon-wrapper">
                        <img src="~/images/cake.png" alt="">
                    </div>
                    <p>ДЕСЕРТИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="dough">
                    <div class="icon-wrapper">
                        <img src="~/images/dough.png" alt="">
                    </div>
                    <p>ТЕСТЕНИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="soups">
                    <div class="icon-wrapper">
                        <img src="~/images/soup.png" alt="">
                    </div>
                    <p>СУПИ</p>
                </a>
            </li>
        </ul>

        <div class="burger-menu">
            <img src="~/images/burger.png" alt="">
        </div>
    </nav>

    <div class="sidemenu">
        <ul>
            @if (this.User.IsInRole("Admin"))
            {
                <li>
                    <a asp-controller="Recipe" asp-action="Add">
                        <div class="icon-wrapper">
                            <img src="~/images/addicon.png" alt="">
                        </div>
                        <p>ДОБАВИ РЕЦЕПТА</p>
                    </a>

                </li>
            }

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="maindish">
                    <div class="icon-wrapper">
                        <img src="~/images/dish.png" alt="">
                    </div>
                    <p>ОСНОВНИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="salads">
                    <div class="icon-wrapper">
                        <img src="~/images/salad1.png" alt="">
                    </div>
                    <p>САЛАТИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="desert">
                    <div class="icon-wrapper">
                        <img src="~/images/cake.png" alt="">
                    </div>
                    <p>ДЕСЕРТИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="dough">
                    <div class="icon-wrapper">
                        <img src="~/images/dough.png" alt="">
                    </div>
                    <p>ТЕСТЕНИ</p>
                </a>
            </li>

            <li>
                <a asp-controller="Recipe" asp-action="RecipeByCategory" asp-route-id="soups">
                    <div class="icon-wrapper">
                        <img src="~/images/soup.png" alt="">
                    </div>
                    <p>СУПИ</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <main role="main">

            @if (TempData.ContainsKey("Success"))
            {
                <div class="success-modale">
                    <i class="fa-solid fa-circle-check success-icon"></i>
                    <h1 class="success-modale-heading">Success</h1>
                    <p class="success-modale-info">@TempData["Success"]</p>

                    <div class="success-modale-btns">
                        <a class="success-modale-close">Close</a>
                    </div>
                </div>
            }


            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="footer-info">
            <h2 class="footer-title">Sonya</h2>

            <p class="footer-subtitle">КУЛИНАРНИ РЕЦЕПТИ</p>

            <p class="footer-descr">Разнообразни домашни рецепти от десерти до основни ястия,<br /> приготвени със желание, страст и любов.</p>
        </div>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

