<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeWebApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="logo-details">
            <h3><a asp-area="Identity" asp-page="/Account/Login">Braise</a></h3>
            <p>COOKING FOR THE SOUL</p>
        </div>

        <ul>
            <li>
                <div class="icon-wrapper">
                    <img src="~/images/dish.png" alt="">
                </div>
                <p>MAIN DISH</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/salad1.png" alt="">
                </div>
                <p>SALADS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/cake.png" alt="">
                </div>
                <p>DESERTS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/dough.png" alt="">
                </div>
                <p>PASTAS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/soup.png" alt="">
                </div>
                <p>SOUPS</p>
            </li>
        </ul>

        <div class="burger-menu">
            <img src="~/images/burger.png" alt="">
        </div>
    </nav>

    <div class="sidemenu">
        <ul>
            <li>
                <div class="icon-wrapper">
                    <img src="~/images/dish.png" alt="">
                </div>
                <p>MAIN DISH</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/salad1.png" alt="">
                </div>
                <p>SALADS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/cake.png" alt="">
                </div>
                <p>DESERTS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/dough.png" alt="">
                </div>
                <p>PASTAS</p>
            </li>

            <li>
                <div class="icon-wrapper">
                    <img src="~/images/soup.png" alt="">
                </div>
                <p>SOUPS</p>
            </li>
        </ul>
    </div>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="footer-info">
            <h2 class="footer-title">Braise</h2>

            <p class="footer-subtitle">COOKING FOR THE SOUL</p>

            <p class="footer-descr">Theme especially made for cooking experts,<br /> novices & all who enjoy sharing their recipes.</p>
        </div>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

