<link rel="stylesheet" href="~/css/recipecategory.css" asp-append-version="true" />

<div class="recipes-by-category">

    <div class="single-recipe-category">

        <div class="single-recipe-category-img-wrapper">
            <img src="~/images/carrotcake.jpg"/>
        </div>

        <h4 class="single-recipe-category-category">MAIN DISH</h4>

        <h3 class="single-recipe-category-title">Carrot cake with vanilla</h3>

        <div class="single-recipe-category-info">

            <div class="single-recipe-category-icon-holder">
                <i class="fa-regular fa-clock"></i>
                <p>60 minutes</p>
            </div>

            <div class="single-recipe-category-icon-holder">
                <i class="fa-solid fa-utensils"></i>
                <p>5</p>
            </div>
        </div>

    </div>

    <div class="single-recipe-category">

        <div class="single-recipe-category-img-wrapper">
            <img src="~/images/carrotcake.jpg"/>
        </div>

        <h4 class="single-recipe-category-category">MAIN DISH</h4>

        <h3 class="single-recipe-category-title">Carrot cake with vanilla</h3>

        <div class="single-recipe-category-info">

            <div class="single-recipe-category-icon-holder">
                <i class="fa-regular fa-clock"></i>
                <p>60 minutes</p>
            </div>

            <div class="single-recipe-category-icon-holder">
                <i class="fa-solid fa-utensils"></i>
                <p>5</p>
            </div>
        </div>

    </div>

    <div class="single-recipe-category">

        <div class="single-recipe-category-img-wrapper">
            <img src="~/images/carrotcake.jpg"/>
        </div>

        <h4 class="single-recipe-category-category">MAIN DISH</h4>

        <h3 class="single-recipe-category-title">Carrot cake with vanilla</h3>

        <div class="single-recipe-category-info">

            <div class="single-recipe-category-icon-holder">
                <i class="fa-regular fa-clock"></i>
                <p>60 minutes</p>
            </div>

            <div class="single-recipe-category-icon-holder">
                <i class="fa-solid fa-utensils"></i>
                <p>5</p>
            </div>
        </div>

    </div>

    <div class="single-recipe-category">

        <div class="single-recipe-category-img-wrapper">
            <img src="~/images/carrotcake.jpg"/>
        </div>

        <h4 class="single-recipe-category-category">MAIN DISH</h4>

        <h3 class="single-recipe-category-title">Carrot cake with vanilla</h3>

        <div class="single-recipe-category-info">

            <div class="single-recipe-category-icon-holder">
                <i class="fa-regular fa-clock"></i>
                <p>60 minutes</p>
            </div>

            <div class="single-recipe-category-icon-holder">
                <i class="fa-solid fa-utensils"></i>
                <p>5</p>
            </div>
        </div>

    </div>

    <div class="single-recipe-category">

        <div class="single-recipe-category-img-wrapper">
            <img src="~/images/carrotcake.jpg"/>
        </div>

        <h4 class="single-recipe-category-category">MAIN DISH</h4>

        <h3 class="single-recipe-category-title">Carrot cake with vanilla</h3>

        <div class="single-recipe-category-info">

            <div class="single-recipe-category-icon-holder">
                <i class="fa-regular fa-clock"></i>
                <p>60 minutes</p>
            </div>

            <div class="single-recipe-category-icon-holder">
                <i class="fa-solid fa-utensils"></i>
                <p>5</p>
            </div>
        </div>

    </div>

</div>
