@model AddRecipeFormSubmit

<link rel="stylesheet" href="~/css/addrecipe.css" asp-append-version="true" />

<div class="add-recipe">
    <h1>Add Recipe</h1>

    <form asp-controller="AddRecipe" asp-action="Add" enctype="multipart/form-data" method="post">

        <div class="add-recipe-info">

            <div class="recipe-name-input recipe-column">
                <label asp-for="RecipeName">Recipe Name</label>
                <input asp-for="RecipeName" type="text" placeholder="Name">
            </div>

            <div class="recipe-category-input recipe-column">
                <label asp-for="Category" for="">Category</label>
                <select asp-for="Category" id="">
                    <option value="maindish">Main Dish</option>
                    <option value="salads">Salads</option>
                    <option value="desert">Desert</option>
                    <option value="dough">Dough</option>
                </select>
            </div>

            <div class="recipe-cookingtime-input recipe-column">
                <label asp-for="CookingTime">Cooking time / in minutes /</label>
                <input asp-for="CookingTime" type="text" id="">
            </div>

            <div class="recipe-servings-input recipe-column">
                <label asp-for="Servings">Servings</label>
                <input asp-for="Servings" type="number" id="">
            </div>

            <div class="recipe-image-input recipe-column">
                <label asp-for="Image">Add Image</label>
                <input asp-for="Image" type="file" id="">
            </div>

            <button type="submit" class="save-recipe">Add</button>

        </div>

        <div class="ingridients-directions-inputs">

            <div class="ingridients-input recipe-column">
                <label asp-for="AllIngredients">Ingridients</label>
                <textarea asp-for="AllIngredients" type="text" cols="15" rows="15"></textarea>
            </div>

            <div class="directions-input recipe-column">
                <label asp-for="Instructions">Directions</label>
                <textarea asp-for="Instructions" type="text" cols="15" rows="15"></textarea>
            </div>
        </div>


    </form>
</div>

